.container{
	padding: 50px 150px;
}

#color{
	border: 2px solid black;
	height: 350px; 
	width:inherit;
}
#red{
	border: 2px solid red;
}
#green{
	border: 2px solid green;
}
#blue{
	border: 2px solid blue;
}
#hex{
	border: 2px solid yellow;
}
label{
	font-weight: bold;
}